body {
    background: url(../images/dino3D2.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    background-position: center;
    margin:0;
    padding:0;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    
}

.dinoC, #_words {
    margin-top:-40px;
}
.jumbotron{
    height:160px;
}

#totalScore, #win, #lost {
    margin-top: -14px;
}

 .crystals {
      display: flex;
}

.crystal {
    justify-content: space-around;
    height: 100vw;
    width: 40vw;
    border:none;
    background: none;
    /* position: relative; */
}

@media only screen and (max-width: 375px) {
    
        .dinoC, #_words {
            margin-top:-20px;
        }
    
}
/*
div img {
    margin-top:-2vw;
    width: 100vw;
    height:60vw;   
}

#container{
    margin-right:auto;
    margin-left: auto;
}

p {    
    text-align: center;
    font-family: 'Shojumaru', cursive;
    text-shadow: 4px 4px 4px #aaa;
    font-size:3vw;
    padding-left:50px;
    padding-right:50px;
}

#_button1 {
    position:relative;
    background: rgba(76, 92, 109, 0.5);
    border:none;
    padding:2vw;
    border-radius:15px;
    color:black;
    margin-left:40vw;
    
}

#_directions {
    display: none;
    margin-top:-60vw;
    z-index:3;
    float: both; 
}

#_words {
    margin-top:-50vw;
    display: visible;  
}

input[type="button"]:focus {
    outline:none;
    border:none;
    outline: 0 !important;
} */
